body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-dm-sans: "DM Sans";

  /* font sizes */
  --font-size-11xl: 30px;
  --font-size-21xl: 40px;
  --font-size-31xl: 50px;
  --font-size-xl: 20px;
  --font-size-base: 16px;

  /* Colors */
  --color-white: #fff;
  --color-darkslategray-100: #183a58;
  --color-darkslategray-200: #122b41;
  --color-darkslategray-300: rgba(24, 58, 88, 0.5);
  --color-tomato: #f6683c;

  /* Gaps */
  --gap-base: 16px;

  /* border radiuses */
  --br-34xl: 53px;
  --br-26xl: 45px;
}
